In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [16]:
import chardet

with open(r"C:\Users\Benwari Ezekiel\Downloads\Business Funding Data.csv", 'rb') as f:
    result = chardet.detect(f.read(10000))
print("Detected Encoding:", result['encoding'])

Detected Encoding: ISO-8859-1

In [2]:
try:
    df = pd.read_csv(r"C:\Users\Benwari Ezekiel\Downloads\Business Funding Data.csv",encoding="ISO-8859-1")
    df.head()
    df.tail()
    df.describe()
    df.info()   #checking for missing values
except Exception as e:
    print(e)
    print("File not found")
    exit()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Website Domain             26 non-null     object
 1   Effective date             6 non-null      object
 2   Found At                   26 non-null     object
 3   Financing Type             8 non-null      object
 4   Financing Type Normalized  8 non-null      object
 5   Categories                 26 non-null     object
 6   Investors                  13 non-null     object
 7   Investors Count            13 non-null     float64
 8   Amount                     26 non-null     object
 9   Amount Normalized          26 non-null     int64
 10  Source Urls                26 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 2.4+ KB

In [3]:
df.isnull().sum() #checking for missing values
df.describe()

       Investors Count  Amount Normalized
count        13.000000       2.600000e+01
mean          1.846154       2.264687e+08
std           2.230327       5.383239e+08
min           1.000000       1.600000e+06
25%           1.000000       4.685750e+06
50%           1.000000       1.160000e+07
75%           1.000000       4.750000e+07
max           9.000000       2.000000e+09

In [5]:
df.head(10)

,Website Domain,Effective date,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,NaN,2024-03-14T01:00:00+01:00,NaN,NaN,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,NaN,2024-05-31T02:00:00+02:00,NaN,NaN,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,NaN,2024-07-24T02:00:00+02:00,NaN,NaN,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,NaN,2024-05-01T02:00:00+02:00,NaN,NaN,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,NaN,2024-04-11T02:00:00+02:00,NaN,NaN,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...
5,swtchenergy.com,2024-04-18T02:00:00+02:00,2024-04-24T02:00:00+02:00,Series B,series_b,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
6,carnow.com,2024-04-16T02:00:00+02:00,2024-04-16T02:00:00+02:00,NaN,NaN,"[""debt_financing""]",runwaygrowth.com,1.0,$40 million,40000000,https://www.prnewswire.com/news-releases/runwa...
7,databricks.com,NaN,2024-08-07T02:00:00+02:00,Series I,series_i,"[""series_i"", ""venture""]",NaN,NaN,$685 million,685000000,https://iteuropa.com/news/large-language-model...
8,anthropic.com,NaN,2024-07-08T02:00:00+02:00,NaN,NaN,[],damachotelsandresorts.com,1.0,$50mn,50000000,https://www.arabianbusiness.com/industries/tec...
9,ey.com,NaN,2024-04-18T02:00:00+02:00,NaN,NaN,[],NaN,NaN,AU$10.7M,6865000,https://www.biometricupdate.com/202404/ey-secu...

In [8]:
#df.dropna(inplace=True) #dropping missing values
#df.isnull().sum()
df["Effective date"].unique()

array([nan, '2024-04-18T02:00:00+02:00', '2024-04-16T02:00:00+02:00',
       '2024-06-20T02:00:00+02:00', '2024-04-24T02:00:00+02:00',
       '2024-06-26T02:00:00+02:00', '2024-06-27T02:00:00+02:00'],
      dtype=object)

In [9]:
unique_rows = df[["Effective date", "Financing Type", "Financing Type Normalized", "Categories"]].drop_duplicates()
print(unique_rows)

               Effective date Financing Type Financing Type Normalized  \
0                         NaN            NaN                       NaN
2                         NaN            NaN                       NaN
5   2024-04-18T02:00:00+02:00       Series B                  series_b
6   2024-04-16T02:00:00+02:00            NaN                       NaN
7                         NaN       Series I                  series_i
10                        NaN           Seed                      seed
15                        NaN      Series A2                 series_a2
18  2024-06-20T02:00:00+02:00            NaN                       NaN
19  2024-04-24T02:00:00+02:00            NaN                       NaN
21  2024-06-26T02:00:00+02:00            NaN                       NaN
23  2024-06-27T02:00:00+02:00       Series A                  series_a
24                        NaN            NaN                       NaN

                       Categories
0                              []
2              ["private_equity"]
5         ["series_b", "venture"]
6              ["debt_financing"]
7         ["series_i", "venture"]
10            ["seed", "venture"]
15       ["series_a2", "venture"]
18             ["private_equity"]
19             ["private_equity"]
21             ["private_equity"]
23        ["series_a", "venture"]
24  ["private_equity", "venture"]

In [11]:
df = df.drop(columns=["Effective date", "Financing Type", "Financing Type Normalized"])
df.head()

,Website Domain,Found At,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,2024-03-14T01:00:00+01:00,[],NaN,NaN,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,2024-05-31T02:00:00+02:00,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.0,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,2024-07-24T02:00:00+02:00,"[""private_equity""]",NaN,NaN,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,2024-05-01T02:00:00+02:00,[],stackcapitalgroup.com,1.0,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,2024-04-11T02:00:00+02:00,[],chevychasetrust.com,1.0,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...

In [12]:
df.head(10)

,Website Domain,Effective date,Found At,Financing Type,Financing Type Normalized,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
5,swtchenergy.com,2024-04-18T02:00:00+02:00,2024-04-24T02:00:00+02:00,Series B,series_b,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.0,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
23,gaiia.com,2024-06-27T02:00:00+02:00,2024-06-27T02:00:00+02:00,Series A,series_a,"[""series_a"", ""venture""]",inovia.vc,1.0,US$13.2M,13200000,https://financialpost.com/globe-newswire/gaiia...

In [13]:
df["Investors Count"]= df["Investors Count"].fillna(df["Investors Count"].mean())
df.head(10)

,Website Domain,Found At,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,trafigura.com,2024-03-14T01:00:00+01:00,[],NaN,1.846154,$1.9b,1900000000,https://www.tradefinanceglobal.com/posts/trafi...
1,zenobe.com,2024-05-31T02:00:00+02:00,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.000000,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,2024-07-24T02:00:00+02:00,"[""private_equity""]",NaN,1.846154,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,2024-05-01T02:00:00+02:00,[],stackcapitalgroup.com,1.000000,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,2024-04-11T02:00:00+02:00,[],chevychasetrust.com,1.000000,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...
5,swtchenergy.com,2024-04-24T02:00:00+02:00,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.000000,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
6,carnow.com,2024-04-16T02:00:00+02:00,"[""debt_financing""]",runwaygrowth.com,1.000000,$40 million,40000000,https://www.prnewswire.com/news-releases/runwa...
7,databricks.com,2024-08-07T02:00:00+02:00,"[""series_i"", ""venture""]",NaN,1.846154,$685 million,685000000,https://iteuropa.com/news/large-language-model...
8,anthropic.com,2024-07-08T02:00:00+02:00,[],damachotelsandresorts.com,1.000000,$50mn,50000000,https://www.arabianbusiness.com/industries/tec...
9,ey.com,2024-04-18T02:00:00+02:00,[],NaN,1.846154,AU$10.7M,6865000,https://www.biometricupdate.com/202404/ey-secu...

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def outliers(dataframe,column):
    mean =dataframe[column].mean()
    std = dataframe[column].std()
    z_score= (dataframe[column]-mean)/std
    return  dataframe[np.abs(z_score)<3]
    
outliers(df,"Amount Normalized")

,Website Domain,Found At,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
1,zenobe.com,2024-05-31T02:00:00+02:00,[],"avivainvestors.com, lloydsbankinggroup.com, sa...",9.000000,$522.7 million,522700000,https://realassets.ipe.com/news/aviva-among-le...
2,zenobe.com,2024-07-24T02:00:00+02:00,"[""private_equity""]",NaN,1.846154,£41.7m,53671000,https://www.innovationnewsnetwork.com/zenobe-a...
3,canva.com,2024-05-01T02:00:00+02:00,[],stackcapitalgroup.com,1.000000,US$8 million,8000000,https://www.globenewswire.com/news-release/202...
4,fidelity.com,2024-04-11T02:00:00+02:00,[],chevychasetrust.com,1.000000,$1.96 million,1960000,https://www.defenseworld.net/2024/04/11/chevy-...
5,swtchenergy.com,2024-04-24T02:00:00+02:00,"[""series_b"", ""venture""]","alantra.com, blueearth.capital",2.000000,$27.2 Million,27200000,https://www.mercomindia.com/funding-and-ma-rou...
6,carnow.com,2024-04-16T02:00:00+02:00,"[""debt_financing""]",runwaygrowth.com,1.000000,$40 million,40000000,https://www.prnewswire.com/news-releases/runwa...
7,databricks.com,2024-08-07T02:00:00+02:00,"[""series_i"", ""venture""]",NaN,1.846154,$685 million,685000000,https://iteuropa.com/news/large-language-model...
8,anthropic.com,2024-07-08T02:00:00+02:00,[],damachotelsandresorts.com,1.000000,$50mn,50000000,https://www.arabianbusiness.com/industries/tec...
9,ey.com,2024-04-18T02:00:00+02:00,[],NaN,1.846154,AU$10.7M,6865000,https://www.biometricupdate.com/202404/ey-secu...
10,openpipe.ai,2024-03-26T01:00:00+01:00,"[""seed"", ""venture""]",NaN,1.846154,$6.7 million,6700000,https://www.geekwire.com/2024/seattle-startup-...
12,syntetica.co,2024-07-16T02:00:00+02:00,"[""seed"", ""venture""]",NaN,1.846154,Û4.2 million,4581000,https://tech.eu/2024/07/16/syntetica-raises-eu...
13,zf.com,2024-07-15T02:00:00+02:00,[],eib.org,1.000000,Û425 million,464695000,https://thebrakereport.com/eib-funds-zf-brakin...
14,sparelabs.com,2024-06-05T02:00:00+02:00,[],NaN,1.846154,$10M,10000000,https://www.finsmes.com/2024/06/spare-receives...
15,e-zinc.ca,2024-06-27T02:00:00+02:00,"[""series_a2"", ""venture""]",NaN,1.846154,USD 31M,31000000,https://www.explorebit.io/article/e-Zinc%20Rai...
16,biointelligence.com,2024-04-25T02:00:00+02:00,[],NaN,1.846154,$5M,5000000,https://www.prweb.com/releases/biointelligence...
17,claritisoftware.com,2024-04-10T02:00:00+02:00,"[""private_equity""]",vistaragrowth.com,1.000000,$24.6 million CAD,18139000,https://betakit.com/government-software-provid...
18,heylist.com,2024-06-18T02:00:00+02:00,"[""private_equity""]",accelia.vc,1.000000,$1.6M,1600000,https://www.newswire.ca/news-releases/heylist-...
19,qohash.com,2024-04-24T02:00:00+02:00,"[""private_equity""]","edc.ca, desjardinscapital.com, fondsftq.com",3.000000,$17.4 million,17400000,https://qohash.com/qohash-secures-17-4-million...
20,topicflow.com,2024-06-25T02:00:00+02:00,"[""seed"", ""venture""]",NaN,1.846154,CAD$2.5M,1823000,https://www.finsmes.com/2024/06/topicflow-rais...
21,claritisoftware.com,2024-06-26T02:00:00+02:00,"[""private_equity""]",cibc.com,1.000000,$10 million,10000000,https://www.marketscreener.com/quote/stock/CAN...
22,biointelligence.com,2024-04-30T02:00:00+02:00,"[""seed"", ""venture""]",NaN,1.846154,$5 million CAD,3653000,https://betakit.com/biointelligence-technologi...
23,gaiia.com,2024-06-27T02:00:00+02:00,"[""series_a"", ""venture""]",inovia.vc,1.000000,US$13.2M,13200000,https://financialpost.com/globe-newswire/gaiia...
24,sinnstudio.com,2024-05-22T02:00:00+02:00,"[""private_equity"", ""venture""]",NaN,1.846154,$2.5M,2500000,https://www.finsmes.com/2024/05/sinn-studio-ra...
25,topicflow.com,2024-06-25T02:00:00+02:00,[],NaN,1.846154,$2.5m,2500000,https://www.streetinsider.com/Accesswire/Topic...

In [19]:
categorical_column = ["Website Domain","Categories","Source Urls","Amount","Investors"]
for colm in categorical_column:
    df[colm]= le.fit_transform(df[colm].astype(str))

In [23]:
df.head(10)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df["Amount Normalized"] = scaler.fit_transform(df["Amount Normalized"].values.reshape(-1,1))
df.head(10)

,Website Domain,Found At,Categories,Investors,Investors Count,Amount,Amount Normalized,Source Urls
0,12,2024-03-14T01:00:00+01:00,8,9,1.846154,20,3.170347,2
1,14,2024-05-31T02:00:00+02:00,8,2,9.000000,15,0.561182,6
2,14,2024-07-24T02:00:00+02:00,2,9,1.846154,24,-0.327349,18
3,15,2024-05-01T02:00:00+02:00,8,11,1.000000,22,-0.413868,17
4,3,2024-04-11T02:00:00+02:00,8,3,1.000000,1,-0.425311,4
5,10,2024-04-24T02:00:00+02:00,6,1,2.000000,4,-0.377496,21
6,17,2024-04-16T02:00:00+02:00,0,10,1.000000,11,-0.353247,23
7,19,2024-08-07T02:00:00+02:00,7,9,1.846154,18,0.868644,3
8,0,2024-07-08T02:00:00+02:00,8,5,1.000000,14,-0.334303,9
9,2,2024-04-18T02:00:00+02:00,8,9,1.846154,12,-0.416019,10

In [ ]:
'''
Observations from Exploring the Data:

Upon examining the dataset, several key observations were made:

- Missing Values: Multiple columns contained missing (NaN) values. Notably, "Effective date" had only 6 non-null entries out of 26, indicating a significant amount of missing data. Similarly, "Financing Type" and "Financing Type Normalized" each had 8 non-null entries, while "Investors" and "Investors Count" had 13 non-null entries each.

- Complete Columns:** Columns such as "Website Domain," "Found At," "Categories," "Amount," and "Amount Normalized" were fully populated, containing 26 non-null entries each.

- Data Types: The dataset comprised a mix of data types, including objects (strings) and numerical values (integers and floats).

Steps Taken to Clean, Preprocess, and Transform the Data:

1. Initial Data Inspection:
   - Displayed the first 10 rows to understand the dataset's structure and identify any immediate anomalies.

2. Handling Missing Values:
   - Column Removal: Columns with more than 20 missing values, such as "Effective date," were dropped to maintain data integrity.
   - Mean Imputation: For columns with fewer missing values, specifically "Investors Count," missing entries were replaced with the column's mean value. This approach preserves the dataset's overall distribution and is a common practice in data preprocessing.

3. Duplicate Removal:
   - Identified and removed duplicate rows to ensure each record was unique, thereby preventing data redundancy and potential biases in analysis.

4. Outlier Detection and Removal:
   - Applied the Z-score method to detect outliers. Data points with a Z-score greater than 2 were considered outliers and removed. This step ensures that extreme values do not skew the analysis or model training.

5. Encoding Categorical Variables:
   - One-Hot Encoding: Converted categorical variables into numerical format using one-hot encoding. This technique creates binary columns for each category, allowing machine learning algorithms to process categorical data effectively.

6. Feature Scaling:
   - Standard Scaling: Normalized the "Amount" column to have values between -1 and 1. Feature scaling is crucial for algorithms sensitive to feature magnitudes, ensuring that each feature contributes equally to the model.

Justifications for Each Technique or Decision Applied:

- Column Removal: Dropping columns with excessive missing values prevents the introduction of bias and maintains the dataset's quality. Retaining such columns could lead to unreliable insights.

- Mean Imputation: Replacing missing numerical values with the mean is a straightforward method that maintains the central tendency of the data without significantly altering its distribution.

- Duplicate Removal: Eliminating duplicates ensures data integrity and prevents models from being trained on repetitive information, which could skew results.

- Outlier Removal:Removing outliers prevents extreme values from disproportionately influencing statistical analyses and model training, leading to more robust and generalizable models.

- One-Hot Encoding:Transforming categorical variables into a numerical format is essential for machine learning models that require numerical input. One-hot encoding prevents the model from assuming any ordinal relationship between categories.

- Standard Scaling:Scaling features to a standard range ensures that each feature contributes equally to the model, especially important for algorithms that rely on distance metrics.

Reflections on the Importance of Preprocessing in Real-World Data Analysis:

Data preprocessing is a critical step in the data analysis pipeline. Real-world data is often incomplete, inconsistent, and unstructured. Effective preprocessing transforms raw data into a clean and structured format, enabling accurate and efficient analysis. It addresses issues such as missing values, outliers, and categorical variables, ensuring that the data is suitable for modeling. Without proper preprocessing, the quality of insights derived from data analysis would be compromised, leading to potentially erroneous conclusions. 
'''